Bottleneck==0.8.0
DBUtils==1.1
Pillow==2.3.0
PyMySQL==0.6.2
PyYAML==3.10
argparse==1.2.1
asteval==0.9.1
astroid==1.3.2
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
cov-core==1.15.0
coverage==3.7.1
execnet==1.2.0
ipython==0.13.2
logilab-common==0.63.0
matplotlib==1.3.1
mock==1.0.1
nose==1.3.4
numexpr==2.4
numpy==1.7.1
-e git+https://github.com/numenta/nupic.git@f757abf953146d4d4d42dfa487d463c7abacbca0#egg=nupic-master
ordereddict==1.1
pandas==0.15.1
prettytable==0.7.2
psutil==1.0.1
py==1.4.26
pylint==1.1.0
pyparsing==2.0.3
pyproj==1.9.3
pytest==2.4.2
pytest-cov==1.6
pytest-xdist==1.8
python-dateutil==2.1
pytz==2014.9
pyzmq==14.4.1
six==1.8.0
tornado==4.0.2
tweepy==2.1
unittest2==0.5.1
validictory==0.9.1
wsgiref==0.1.2
